{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}}

{% block title %}Jogo da Forca - Cuidado para não ser o próximo{% endblock title %}


{% block content %}

    <h1>Forca da Dona Morte</h1>
    <p>Se divirta mas cuidado para não morrer tentando!</p>

    <pre>
        {{ forca }}
    </pre>


    <h2> 
        {% for letra in palavra_secreta %}
            {{ letra }}
        {% endfor %}
    </h2>
    
    <h3>Chutes efetuados:</h3>

    <p>
        {% for letra in chutes %}
        {{ letra }}
        {% endfor %}
    </p>
    
    {{wtf.quick_form(formulario_de_chute) }}


{% endblock content %}