{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}}

{% block content %}
<pre>
    Trocar por: Voce conseguiu, mas nao fique feliz na proxima Dona Morte te leva!
 ▄▄▄· ▄▄▄· ▄▄▄   ▄▄▄· ▄▄▄▄· ▄▄▄ . ▐ ▄ .▄▄ ·                     
▐█ ▄█▐█ ▀█ ▀▄ █·▐█ ▀█ ▐█ ▀█▪▀▄.▀·•█▌▐█▐█ ▀.                     
 ██▀·▄█▀▀█ ▐▀▀▄ ▄█▀▀█ ▐█▀▀█▄▐▀▀▪▄▐█▐▐▌▄▀▀▀█▄                    
▐█▪·•▐█ ▪▐▌▐█•█▌▐█ ▪▐▌██▄▪▐█▐█▄▄▌██▐█▌▐█▄▪▐█                    
.▀    ▀  ▀ .▀  ▀ ▀  ▀ ·▀▀▀▀  ▀▀▀ ▀▀ █▪ ▀▀▀▀                     
 ▐ ▄  ▄▄▄·      ▄▄▄·▄▄▄        ▐▄• ▄ ▪  • ▌ ▄ ·.  ▄▄▄·          
•█▌▐█▐█ ▀█     ▐█ ▄█▀▄ █·▪      █▌█▌▪██ ·██ ▐███▪▐█ ▀█          
▐█▐▐▌▄█▀▀█      ██▀·▐▀▀▄  ▄█▀▄  ·██· ▐█·▐█ ▌▐▌▐█·▄█▀▀█          
██▐█▌▐█ ▪▐▌    ▐█▪·•▐█•█▌▐█▌.▐▌▪▐█·█▌▐█▌██ ██▌▐█▌▐█ ▪▐▌         
▀▀ █▪ ▀  ▀     .▀   .▀  ▀ ▀█▄▀▪•▀▀ ▀▀▀▀▀▀▀  █▪▀▀▀ ▀  ▀          
 ▌ ▐·       ▄▄· ▄▄▄ .    • ▌ ▄ ·.       ▄▄▄  ▄▄▄  ▄▄▄ .         
▪█·█▌▪     ▐█ ▌▪▀▄.▀·    ·██ ▐███▪▪     ▀▄ █·▀▄ █·▀▄.▀·         
▐█▐█• ▄█▀▄ ██ ▄▄▐▀▀▪▄    ▐█ ▌▐▌▐█· ▄█▀▄ ▐▀▀▄ ▐▀▀▄ ▐▀▀▪▄         
 ███ ▐█▌.▐▌▐███▌▐█▄▄▌    ██ ██▌▐█▌▐█▌.▐▌▐█•█▌▐█•█▌▐█▄▄▌         
. ▀   ▀█▄▀▪·▀▀▀  ▀▀▀     ▀▀  █▪▀▀▀ ▀█▄▀▪.▀  ▀.▀  ▀ ▀▀▀  ▀  ▀  ▀ 
</pre>

{{wtf.quick_form(formulario_de_nova_palavra, extra_classes='form-inline') }}

{% endblock content %}
