{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}}

{% block title %}Jogo da Forca{% endblock title %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock styles %}

{% block content %}


    <div class="jumbotron jumbotron-fluid text-center bg-dark p-2 m-0">
        <div class="container">
          <h1 class="display-3" >Forca da Dona Morte</h1>
          <p class="lead">Se divirta mas cuidado para não morrer tentando!</p>
        </div>
      </div>
      
      <div class="jumbotron jumbotron-fluid p-2 m-0 bg-dark ">
        <div class="row">
          <div class="col-sm-9">
            <pre class="text-center bg-dark text-white">
                {{ forca }}
            </pre>
          </div>
          
          <div class="col-sm-3">
            <h1> {% for letra in palavra_secreta %}
            {{ letra }}
            {% endfor %}</h1>
            
            <h6>Chutes efetuados:</h3>
            <p>
                {% for letra in chutes %}
                {{ letra }}
                {% endfor %}
            </p>
            
            {{wtf.quick_form(formulario_de_chute) }}
        </div>
      </div>
      <a href={{ url_for('novo_jogo') }} class="button">Nova palavra</a>

{% endblock content %}